@import "../../styles/variables";

.input_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.primary {
  label {
    color: $color-text-label;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-light;
  }

  input {
    width: 100%;
    background-color: $color-bg-surface-light;
    padding: 6px $spacing-sm;
    border-radius: $border-radius-sm;
    color: $color-text-body;
    border-bottom: 1px solid transparent;

    &::placeholder {
      color: $color-text-placeholder;
      font-size: $font-size-sm;
      letter-spacing: $letter-spacing-light;
    }
  }

  input:focus {
    border-bottom: 1px solid $color-primary-light;
    background-color: #ffffff;
    box-shadow: $shadow-sm
  }
}

.error_message {
  position: relative;
  color: $color-error;
  font-size: $font-size-xs;
  letter-spacing: $letter-spacing-light;
  margin-top: 3px;
}
