@import '../../styles/variables';



.product_main_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;

    .main_form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 15px;
    }

}


