@import "../../styles/variables";

.card_container {
  width: 100%;
  min-height: 70px;
  height: 70px;
  display: flex;
  background-color: $color-bg-default;
  box-shadow: $shadow-md;
  margin-bottom: $spacing-sm;
  padding: $spacing-sm $spacing-md;

  &:hover{

    box-shadow: none;
  }

  .card_box{
    overflow: hidden;
    gap: 10px;
    img {
      object-fit: contain;
      overflow: hidden;
    }
    
  }     
  
    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  


  .card_container_product {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr ;
    align-items: center;
    text-align: left;
  }
  
 

  .card_container_category {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
    text-align: left;
  }
  
  .card_container_variations{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr ;
    align-items: center;
    text-align: left;

    .code{
      font-size: $font-size-xs;
      color: $color-text-label;
    }
  }
}
