.image-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  img {
    width: 150px;
    height: 110px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
  }
}

.btn_remove {
  color: #bf4342 !important;
}
