@import '../../styles/_variables.scss';

.colorCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .error {
    input {
      padding: 0;
      border-bottom: 1px solid $color-error;
    }
  }

  .error_message {
    color: $color-error;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-light;
    margin-top: 4px;
  }