@import "../../styles/_variables.scss";

a.link {
    width: 100%;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    padding: $spacing-md;
    letter-spacing: $letter-spacing-light;

    &:hover {
        background-color: $color-primary-dark;
    }
}
